@import 'tailwindcss';

@theme {
	--font-body: 'Inter', 'Inter Fallback';
	--font-display: 'Karla', 'Karla Fallback';
}

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes:
		silk --default,
		forest --prefersdark;
}

/* TODO vidi jel oke silk+forest za b/w teme ili da mijenjas */

@import './global.css';
@import './utilities.css';
